

#fh5co-home {
      /* background-color: transparent; */
    /* background-size: cover; */
    background-position: center 0px; 
    /*background-attachment: fixed;*/
    position: relative;
    width: 100%;
    /* background-color: #f8b801; */
    color: #fff;
    overflow: hidden;

}

/*#fh5co-home .gradient {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 2;*/
/*    opacity: .1;*/
/*    -webkit-backface-visibility: hidden;*/
/*    background-color: #2b2b2b91;*/
/*    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);*/
/*    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #7b3f75), color-stop(1, #c24d67));*/
/*    background-image: -webkit-repeating-linear-gradient(top left, #7b3f75 0%, #c24d67 100%);*/
/*    background-image: repeating-linear-gradient(to bottom right, #7b3f75 0%, #c24d67 100%);*/
/*    background-image: -ms-repeating-linear-gradient(top left, #7b3f75 0%, #c24d67 100%);*/
/*}*/


#fh5co-home .text-inner h1 {
    font-size: 50px;
    color: white;
    margin: -230px 0px 0 0px;
}





.logo .bkmi {
    background-color: rgba(255, 255, 255, 0.6901960784313725);
    /* padding: 1.3em 4em; */
    width: 100%;
}


.logo .bkmi img {
    width: 80%;
    padding: 1em 0em;
    max-width: 586px;
}


#fh5co-intro {
    background-image: url(/img/wallwood.jpg);
    position: relative;
    box-shadow: inset 0px 28px 58px -34px #fff0dd, 0px -16px 180px -17px antiquewhite;
    overflow: hidden;
}


#fh5co-intro .section-heading h2 {
    color: black;
}

#fh5co-intro .section-heading {
    background: white;
    padding: 2.9em 0 0 0;
    margin: 4em 0 -25px 0;
}


#fh5co-intro .intro-items {
    background: white;
    
}





#fh5co-intro .intro-items .popup-modal {
    width: 100%;
    background-size: cover;
    background-position: left;
}

#fh5co-intro .intro-items .popup-modal p {
    /* bottom: 2em; */
    /* position: absolute; */
    margin: 0;
}

#fh5co-intro .intro-items .popup-modal h3 {
    color: white;
    /*bottom: 0;*/
    /*position: absolute;*/
}


#fh5co-intro .container .row.intro-items {
    width: 100%;
    margin: 0px 0px 0 0px;
    padding: 0 0px 0px 3px;
    overflow: hidden;
}

#fh5co-intro .intro-items>div {
    display: flex;
    margin: 0 3px 3px 0px;
    height: 15em;
}

.b2berne .popup-modal {
    background-size: 90%!important;
    background-repeat: no-repeat;
    background-position-x: 17px!important;
}


#fh5co-intro .intro-items img {
    width: 100%;
}


#fh5co-intro .intro-items .overlay {
    position: absolute;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6784313725490196);
    /* background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #ea4f50), color-stop(1, #c5393a)); */
    /* background-image: -webkit-repeating-linear-gradient(top , #ea4f50cc 0%, #c5393a 100%); */
    /* background-image: repeating-linear-gradient(to bottom , #ffffff00 0%,#545454b3 25%, #525252 100%); */
    opacity: 0;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    text-align: left;
}

#fh5co-intro .intro-items .overlay:hover {
    opacity: 1;
    padding: 1em;
    cursor: pointer;
    color: white;
}


.overlay .fh5co-text {
    position: absolute;
    bottom: 0;
}


#fh5co-intro .intro-items .overlay h2 {
    /*color:#f8b801;*/
    color: white;
    font-size: 1.2em;
}


.intro-items>div {

    padding: 0;
}


#fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon {
    font-size: 50px;
    color: #cd5c61;
    margin-bottom: 30px;
    display: block;
}





.white-popup-block {
    background: #FFF;
    color: #333333;
    padding: 0;
    text-align: left;
    max-width: 900px;
    /* margin: 40px auto; */
    position: relative;
}

.white-popup-block img {
    width: 100%;
    margin:  0;
}


.white-popup-block .content-block {
    padding: 14px;
    background: #FFF;
    font-family: "Source Sans", Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: left;
}




.white-popup-block .title-only {
    font-size: 1.2em;
    text-align: left;
}


#fh5co-services {
    background: url(/img/slider-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#fh5co-services .fh5co-service {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
}


.fh5co-person {
    border: 2px solid #f2f2f2;
    padding: 80px 30px 30px 30px;
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 72px 0;
    min-height: 455px;
}


/*.fh5co-person .social {*/
/*    padding: 0;*/
/*    margin: -28px -22px 0 0;*/
/*    float: right;*/
/*    width: auto;*/
/*}*/



/*#fh5co-services .gradient {*/
/*     background-color: #c24d67; */
/*     background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+); */
/*     background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #7b3f75), color-stop(1, #c24d67)); */
/*     background-image: -webkit-repeating-linear-gradient(top left, #7b3f75 0%, #c24d67 100%); */
/*     background-image: repeating-linear-gradient(to bottom right, #151454 0%, #ea4f50 100%); */
/*    background-image: -ms-repeating-linear-gradient(top left, #7b3f75 0%, #c24d67 100%);*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    color: rgba(255, 255, 255, 0.7);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 0;*/
/*    opacity: 1.0;*/
/*}*/


.col-md-8 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}



/* Large devices (large desktops, 1200px and up) */
@media(min-width: 991.98px )  { 
    .white-popup-block .content-block {
        padding: 4em 18em 1em 8em;
        font-size: 0.8em;
        line-height: 1.6em;
        text-align: justify;
    } 
    
        
   
    
}

.white-popup-block .content-block strong {
    font-weight: bold;
}