	<section id="bkmi-campaign" >
		
			

		    <div class="container ">
    			<div class="text-wrap">
    				<div class="text-inner">
    					<div class="row">
    						<div class="col col-md-8 col-md-offset-2 campaign ">
    							<!--<h3 class="to-animate">Aktuell</h3>-->
    							<div class="sticky ">
    							    <a href="http://www.b2berne.ch/cont/anmeldung_aussteller.html" target="_blank" >
    							        <h3>Aktuell</h3>
    						    	    <img src="img/b2berne-jetztanmelden.png">
    						    	</a>
    							</div>

    						</div>
    					</div>
    				</div>
    			</div>
	    	</div>

			

	</section>