<section id="fh5co-intro">
	<div class="container">
		<div class="col-md-12 section-heading text-center">
			<h2 class="to-animate">{{ with .Site.Params.intro.title }}{{ . }}{{ end }}</h2>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 subtext to-animate">
					<h3>{{ with .Site.Params.intro.description }}{{ . | markdownify }}{{ end }}</h3>
				</div>
			</div>
		</div>
		
		<div class="row row-bottom-padded-lg intro-items">
		    <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/maeder-event.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
			<div class="col-12 col-md-6 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/ruvido.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		 					 
		<div class="row row-bottom-padded-lg intro-items">
			<div class="col-12 col-md-7 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/award-marketing-architektur.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col to-animate b2berne">
                {{ with .Site.GetPage "page" "referenzen/b2berne.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		
				
		<div class="row row-bottom-padded-lg intro-items">
            <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/silenthelp-teaser.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col-12 col-md-4 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/praxis-fuer-entspannung-workware.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		
		
		<div class="row row-bottom-padded-lg intro-items">
			<div class="col-12 col-md-4 to-animate ">
				{{ with .Site.GetPage "page" "referenzen/grafikdesign.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
			</div>
           	<div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/o-maeder-einladung.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>

		

		
		<div class="row row-bottom-padded-lg intro-items">
		   <div class="col to-animate ">
				{{ with .Site.GetPage "page" "referenzen/contria-workware.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
			</div>
			<div class="col col-12 col-md-4 to-animate ">
				{{ with .Site.GetPage "page" "referenzen/professionell-werben.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
			</div>
			<div class="col col-12 col-md-4 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/lebana-workware.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		
		<div class="row row-bottom-padded-lg intro-items">
		    <div class="col-12  col-md-7 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/bijoux-stadelmann-inserat.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/building-award2.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		
		<div class="row row-bottom-padded-lg intro-items">
			<div class="col-12 col-md-6 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/praxis-fuer-entspannung-postcard.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col to-animate ">
                 {{ with .Site.GetPage "page" "referenzen/building-award.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
	
		<div class="row row-bottom-padded-lg intro-items">
            <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/swiss-sales-einladung.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
			<div class="col-4 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/soziale-innovation-publikation.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		
		<div class="row row-bottom-padded-lg intro-items">
            <div class="col-12 col-md-5 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/stuecheli-architekten-jahrbuch.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/bijoux-stadelmann-event.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
		
		<div class="row row-bottom-padded-lg intro-items">
	       <div class="col-12 col-md-4 to-animate ">
                {{ with .Site.GetPage "page" "referenzen/wuethrich-kies-grafik.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/usbsticks.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
            <div class="col to-animate ">
                {{ with .Site.GetPage "page" "referenzen/garage-hofmann-werbeartikel.md" }}
                    {{ partial "intro.html" .}}
                {{ end }}
            </div>
		</div>
	
	</div>
</section>
